<h1><code>Index of 
<% breadcrumbs.forEach(function (breadcrumb) { %>
  <a href="<%= breadcrumb.url %>"><%= breadcrumb.title %></a> /
<% }) %>  
</code></h1>
<br>
<% files.forEach(function(file) { %>
  <code><a href="<%= file.url %>"><%= file.name %></a><%= (typeof file.size != 'undefined') ? ' - ' + file.size + 'KB' : '' %></code><br/>
<% }); %>